<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout-dxc :: head"></head>

<body>
    <nav th:replace="layout-dxc :: header"></nav>

    <div class="container" id="main-content">
    
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
                <a class="navbar-brand" th:href="@{/issue}">Issue</a>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/issue}">Issue ID</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" th:href="@{/issue/issue-type}">Issue Type</a>
                        </li>
                    </ul>
                    
                    <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/issue/search}" method="get">
                        <input class="form-control mr-sm-2" th:name ="issueId" id="issueId" type="text" placeholder="Search by ID ..." aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                <button class="btn btn-load btn-primary" type="button" onlick="loadTrang()">
 							 <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
 										 Loading Data
				</button>
            </nav>
        </div>
        <div class="row mt-4">
            <div th:if="${successMessage}" class="col-12 alert alert-success alert-dismissible fade show" role="alert">
                <span th:text="${successMessage}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
            </div>

            <th:block th:if="${#lists.isEmpty(dataIssue)}">
                <h5>No Data</h5>
            </th:block>

            <th:block th:unless="${#lists.isEmpty(dataIssue)}">
                <div class="table-responsive">
                    <h5>List of Issue</h5>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Type </th>
                                <th>Project ID</th>
                                <th>Status</th>
                                <th>Priority</th>
                                <th>Description</th>
                                <th>Employe ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="issue,iterStat : ${dataIssue}">
                                <th scope="row" th:text="${iterStat.count}"></th>
                                <td th:text="${issue.getIssueId()}"></td>
                                <td th:text="${issue.getIssueName()}"></td>
                                <td th:text="${issue.getProject().getProjectId()}"></td>
                                <td th:text="${issue.getStatus()}"></td>
                                <td th:text="${issue.getPriority()}"></td>
                                <td th:text="${issue.getDescription()}"></td>
                                <td th:text="${issue.getEmployee().getEmployeeId()}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </th:block>
        </div>
    </div>
    <!-- /.container -->

    <footer th:replace="layout-dxc :: footer"></footer>

</body>

</html>